{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Microblog {% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    {% block app_styles %}
    {% endblock %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
    <div class="container">
        <a href="{{ url_for('index') }}" class="navbar-brand">Microblog</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('explore') }}" class="nav-link">Explore</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                </li>
                {% else %}
                <li class="nav-item" style="position: relative;" id="nav-item-notification">
                    {% if current_user.has_unseen_messages %}
                    <span class="nav-item-notification-icon" style="background-color: orange; position:absolute;top: 50%;transform: translate(0, -51%);left: -8px; width: 8px; height: 8px; border-radius: 50%; "></span>
                    {% endif %}
                    <a href="{{ url_for('notification') }}" class="nav-link">Notifications</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('user', username=current_user.username) }}" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container pt-4" id="notification-alert-container" style="position: relative;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{message}}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/scripts.js') }}">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@3.0.1/dist/socket.io.min.js"></script>
    <script>
        const socket = io.connect('http://localhost:5000')
    </script>
    <script src="{{ url_for('static', filename='js/liveNotifications.js') }}"></script>
    {% block app_scripts %}
    {% endblock %}
{% endblock %}