{% extends 'base.html' %}

{% block app_content %}
    <h1 class="mb-4">Notifications</h1>
    <div id="notifications-container"></div>
    <button id="load-messages"class="btn btn-outline-info mb-5" role="button">Older Messages</button>
{% endblock %}

{% block app_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
    <script>
        window.addEventListener('DOMContentLoaded',() => {
            socket.on('notification_alert', function(data, callback) {

                callback("success", data.id)
                console.log(data.id)
                addAlert("You have a new message")
                addMessage(data)
            })
            function addAlert(message){
                const alertContainer = document.querySelector('#notification-alert-container')
                const div = document.createElement('div')
                div.appendChild(document.createTextNode(message))
                div.className='alert alert-info'
                div.style.cssText=`
                position: sticky;
                top: 10px;
                `
                alertContainer.insertBefore(div, alertContainer.children[0])
            }
            function addMessage(msg){
                let container = document.getElementById('notifications-container')
                console.log(container)
                const table = createTable(msg)
                container.insertBefore(table, container.children[0])
            }
            function createTable({content, sender, timestamp}){
                const table = document.createElement('table')
                table.className = 'notification-table table table-hover'
                let message
                message = `<tr>
                            <td>
                                <span style="font-size:13px; font-weight: 700;">From @${sender.username}</span><br>
                                ${content}
                            </td>
                            <td class="text-right"style="font-size:13px;font-weight: 700; transform: translateY(15px)">${moment(new Date(timestamp)).fromNow()}</td>
                        </tr>`
                table.innerHTML=message
                return table
            }
        })
    </script>
{% endblock %}