{% extends 'base.html' %}

{% block app_content %}
    <h1 class="mb-4">Notifications</h1>
    <div id="notifications-container"></div>
    <button id="load-messages"class="btn btn-outline-info mb-5" role="button">Older Messages</button>
{% endblock %}

{% block app_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
{% endblock %}